.Logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.LogoText {
  font-weight: 900;
  margin-top: 25px;
  margin-left: 6px;
}

.LogoText:after {
  display: none;
  background-color: #060606;
  margin: 0;
}

.LogoImg {
  height: 55px;
}

@media only screen and (max-width: 768px) {
  /*.Logo{height: 60px}*/
}

@media only screen and (max-width: 480px) {
  /*.Logo{height: 80px}*/
}

/*@media screen and (max-width: 499px) {*/
/*    .Logo{*/
/*        text-align: center;*/
/*        display: flex;*/
/*        justify-content: space-around;*/
/*    }*/
/*}*/
