.NavigationItem {
	width: 125px;
	display: flex;
	padding-right: 15px;
	justify-content: space-around;
	/*justify-content: flex-end;*/
	/*background-color: #3b5998;*/
}

/*.NavigationItem:first-of-type{*/
/*    background-color: #e67e22;*/
/*}*/

/*.NavigationItem:last-of-type{*/
/*    !*background-color: #e67e22;*!*/
/*}*/

/*.NavLink:hover{*/
/*    padding-bottom: 10px;*/
/*    !*background-color: #060606;*!*/
/*}*/

/*.NavigationItem a:hover,*/
/*.NavigationItem a:active{*/
/*    padding-bottom: 10px;*/
/*}*/

@media screen and (max-width: 1200px) {
	/*.NavigationItem:first-of-type{ margin-left: -20px;}*/
	/*.NavigationItem:last-of-type{ margin-left: -100px;}*/
}

@media screen and (max-width: 768px) {
	/*.NavigationItem{ font-size: 95%; width: 115px;}*/
}
@media (max-width: 767px) {
	.NavigationItem {
		margin-bottom: 20px;
		/*justify-content: flex-start;*/
		/*background-color: #3b5998;*/
	}

	.NavigationItem:first-of-type {
		margin-top: 35px;
	}
}
