.CoursesSection {
  height: auto;
}

.Courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.DrawerToggle {
  width: 100px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  margin-top: -50px;
  box-sizing: border-box;
  cursor: pointer;
  /*background-color: #e74c3c;*/
}

.DrawerToggle div {
  width: 35px;
  height: 3px;
  margin-top: 5px;
  /*margin-left: 50px;*/
  background-color: #060606;
}

.DrawerToggle div:last-of-type {
  line-height: 225%;
  font-size: 15px;
}

@media only screen and (max-width: 1366px) {
  .ProductsSection {
    height: auto;
  }
}
