.DegreeSemester {
	height: 750px;
	overflow: hidden;
	display: flex;
	flex-flow: column;
	align-items: center;
	/*justify-content: center;*/
	/*padding-top: 100px;*/
	/*background-color: #bdc3c7;*/
}

.Title {
	color: white;
}

.Title:after {
	/*display: none;*/
	background-color: white;
	margin-top: 20px;
}

.DSTitle {
	color: white;
}

.Controller {
	width: 450px;
	height: 150px;
	display: flex;
	/*align-content: center;*/
	justify-content: center;
	border-radius: 50px;
	background-color: rgba(255, 255, 255, 0.2);
}

.Select {
	width: 150px;
	height: 125px;
	display: flex;
	flex-flow: column;
	align-items: center;
	/*background-color: #3b5998;*/
}

.Select:first-of-type {
	margin-right: 15px;
}

.Select select {
	padding: 5px 10px;
	box-sizing: border-box;
	width: 100%;
	margin: 10px 0;
	border: 3px solid #ccc;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
	border-radius: 15px;
}

.SubmitButton {
	margin-top: 25px;
	width: 150px;
	font-size: 90%;
	/*background-color: #e67e22;*/
}
