.Title {
	/*background-color: #e74c3c;*/
	color: #060606;
	height: 45px;
	text-align: center;
	margin-top: 130px;
	margin-bottom: -135px;
}

.Card {
	width: 100%;
	display: flex;
}

.Card div {
	width: 50%;
}

.CurrCard {
	margin: 25px;
	padding: 25px;
	display: flex;
	justify-content: center;
	/*margin-right: -15%;*/
	/*margin-left: 10%;*/
}

@media (max-width: 600px) {
	.Card div {
		width: 80%;
	}
	.CurrCard {
		padding: 0;
		margin: 0;
		flex-direction: row;
	}
}
